.md-nav__link[for]:hover {
    color: #000000 !important;
    cursor: s-resize;
}

.md-nav__link[for]:focus {
    color: #000000 !important;
}

header.md-header {
    transition: background-color 1s ease;
}

nav.md-tabs {
    transition: background-color 1s ease;

}

.termynal-comment {
    color: #4a968f;
    font-style: italic;
    display: block;
}

.termy {
    /* For right to left languages */
    direction: ltr;
}

.termy [data-termynal] {
    white-space: pre-wrap;
}

.md-footer__inner:not([hidden]) {
    display: none;
}

p {
    word-wrap: break-word;
}

.md-content a[href *='//']:not(.md-content__button):not(:has(img)) {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) center right no-repeat;
    padding-right: 13px;
    margin-left: 3px;
    margin-right: 3px;
}

.md-typeset h1 {
    font-weight: 500;
}

.md-typeset h2 {
    font-weight: 500;
    position: relative;
    text-align: center;
}

.md-typeset h3 {
    font-weight: medium;
    /* 500 */
    text-decoration: underline;
}

div.video-container {
    text-align: center;
}

/* cookie */

.cookie-message {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border-radius: 10px;
    padding: 15px 0;
    background: #f7f8fb;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, .05), 0 10px 10px 2px rgba(0, 0, 0, .05);
    font-size: 12px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    z-index: 100;
    bottom: 5%;
    right: 2%;
    margin: auto;
    max-width: 540px;
    display: -ms-flexbox;
    display: flex;
}

.cookie-message img {
    height: 50px;
    width: 50px;
    margin: 0 15px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.cookie-message span {
    display: inline-block;
    line-height: 1.5;
    padding-right: 16px;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.cookie-message a.close {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: none;
    font-size: 24px;
    padding: 0 20px 0 16px;
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #919191;
    transition: color 0.2s;
}

.cookie-message a.close:hover {
    color: #795548;
}

.cookie-message a {
    display: inline-block;
    color: red;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.md-content figure:has(figurecaption) {
    display: inherit;
    min-height: 100px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* box-sizing: content-box; */
    padding: 10px 20px;
}

.md-content figure img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}

.md-content figure figurecaption {
    font-style: italic;
}